
/**********************************************************
 Slider d'imatges
**********************************************************/


@media screen and (min-width: 549px) {

  #slider li.slider1 {
    background-image: url('../img/casa_papel_01.webp');
  }

  #slider li.slider2 {
    background-image: url('../img/casa_papel_02.webp');
  }

  #slider li.slider3 {
    background-image: url('../img/casa_papel_03.webp');
  }

  #slider li.slider4 {
    background-image: url('../img/casa_papel_04.webp');
  }

}


