
/**********************************************************
 Slider d'imatges
**********************************************************/

@media screen and (max-width: 548px){

  .content_slider h2 {
      font-size: 15pt !important;
  }
  .content_slider p {
      font-size: 12pt !important;
  }
  #container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 20pt;
  }

  #container-slider .arrowPrev{
    left: 15px;
  }

  #container-slider .arrowNext{
    right: 15px !important;
  }

  #container-slider .arrowPrev img{
    height: auto;
    width: 30px;
  }

  #container-slider .arrowNext img{
    height: auto;
    width: 30px;
  }

  #slider{
    height: 400px;
    min-height: 400px;
  }


  #slider li.slider1 {
    background-image: url('../img/casa_papel_01.jpg?as=webp&height=400px');
  }
  
  #slider li.slider2 {
    background-image: url('../img/casa_papel_02.jpg?as=webp&height=400px');
  }
  
  #slider li.slider3 {
    background-image: url('../img/casa_papel_03.jpg?as=webp&height=400px');
  }
  
  #slider li.slider4 {
    background-image: url('../img/casa_papel_04.jpg?as=webp&height=400px');
  }

  #slider li .content_slider{
    padding: 10px 35px;
  }

  .btnSlider{
    padding: 10px 30px;
      font-size: 10pt;
  }

}

