:root {
  --text-color: rgb(93,95,121);
  --light-color: rgb(255, 255, 255);
  --contrast-color: rgb(245, 0, 0);
  --secondary-contrast-color: rgb(245, 100, 50); 
  --dark-color: rgb(0,0,0);
  --bg-light-color: rgb(227, 228, 230);
}


a {
  color: var(--contrast-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}


h1 {
  font-size: 2.50rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  line-height: 1em;
  color: var(--dark-color);
}

h2 {
  font-size: 2rem;
  line-height: 1em;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1em;
}

/************************
 Textos centrats 
*************************/
.text-center {
  text-align: center;
}

/****************************************
 Imatges i vídeos del lloc 
*****************************************/

.img-fluid {
  max-width: 100%;
  height: auto;
}
.video-fluid {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.video-fluid-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.video-fluid::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}



/**********************************************************
 Slider d'imatges
**********************************************************/

section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container-slider
{
  position: relative;
  display: block;
  width: 100%;
}
#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2; 
}
#container-slider .arrowNext {
  left: initial;
  right: 50px !important;
}
.content_slider{
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
}
.content_slider div{
  text-align: center;
}
.content_slider h2{
  font-family: 'arial';
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_slider p {
  font-size: 15pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 20px;
  max-width: 1024px;
}
#slider li .content_slider{
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}
.content_slider{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider{
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(13, 13, 13, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: .5s all;
}
.btnSlider:hover{
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #FFF  !important;
}

@media screen and (max-width: 460px){
.content_slider h2 {
    font-size: 15pt !important;
}
.content_slider p {
    font-size: 12pt !important;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
  font-size: 20pt;
}
#container-slider .arrowPrev{
  left: 15px;
}
#container-slider .arrowNext{
  right: 15px !important;
}
#slider{
  height: 400px;
  min-height: 400px;
}
#slider li .content_slider{
  padding: 10px 35px;
}
.btnSlider{
  padding: 10px 30px;
    font-size: 10pt;
}

}



/************************************************************
Contenidors del lloc
*************************************************************/
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;    
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}


/************************************************************
Continguts del header i menú de navegació principal
*************************************************************/
.brand {
  text-align: center;
  font-weight: 700;
  display:inline-flex;
  line-height: 70px;
  font-size: 1.5rem;
}
.brand a {
  color: var(--dark-color);  
}
.brand a:hover {
  border: none;
  color: var(--dark-color);
}
/* Menú de navegació principal*/
nav.nav {
  text-align: center;
  color: var(--light-color);
}
nav.nav ul {
  margin-top: 1rem;
  list-style-type: none;
}
nav.nav ul li {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 10px;
}
nav.nav ul li a {
  color: inherit;
}
nav.nav ul li a:hover {
  border: none;
  color: var(--contrast-color);
}
nav.nav a.active {
  border-bottom: 3px solid currentColor;
}
nav.nav a.active:hover {
  border-bottom: 3px solid currentColor;
}
@media (min-width: 992px) {
  nav.nav {
      text-align: left;
  }
  nav.nav ul li {
      display: inline-block;
      padding-right: 30px;
  }    
  nav.nav ul li:last-child {
      padding-right: 0;
  }
  header .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
}

/************************************************************
Continguts del peu de pàgina
*************************************************************/
footer ul li {
  display: block;
}
footer a {
  color: var(--light-color);
}
footer a:hover {
  color: var(--contrast-color);
  border: none;
}

footer form div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer form div:last-of-type {
  margin-top: 1.5rem;
}

footer .credit {
  margin-top: 2rem;
}
footer .credit p {
  font-size: 0.7rem;
  margin-bottom: 0.5em;
}
@media (min-width: 768px) {
  footer ul li {
      display: inline-block;
      padding-left: 1rem;
  }
  footer ul li:first-child {
      padding-left: 0;
  }    
  footer ul li:last-child {
      padding-right: 0;
  } 
    
}



/************************************************************
Pàgina Repartiment de la sèrie
*************************************************************/
nav.menu-interior ul {
  margin-top: 1rem;
  list-style-type: none;
  text-align: center;
}
nav.menu-interior ul li {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6;
}
.flex-container nav {
  width: 100%;
}
.flex-container nav ul {
  padding-bottom: 2rem;
}
.flex-container ul li {
  display: inline-block;
}
.flex-container ul li::after {
  content: " · ";
  color: var(--contrast-color)
}
.flex-container ul li:last-child::after {
  content: "";
}
@media (min-width: 1200px) {
  nav.menu-interior ul {
      text-align: left;
  }
  .flex-container {
      display: flex;
      flex-wrap: wrap;
  }
  .flex-container nav.menu-interior {
      width: 20%;
  }
  .flex-container> div {
      width: 80%;
  }
  .flex-container ul li::after {
      content: "";
  }
  nav.menu-interior ul li {
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding-right: 0;
  }    
}

.card > div span {
  display: block;
}
.card > div:first-child span:first-child {
  font-size: 1.8rem;
  color: var(--secondary-contrast-color);
  font-weight: 800;
  margin-top: 0;
}
.card > div:first-child span:nth-child(2n) {
  font-size: 1.2rem;
  font-weight: 800;
}
.card >div:first-child span:nth-child(3n) {
  font-size: 1rem;
  font-weight: 800;
}
.card >div span:last-child {
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.card p {
  font-size: 1rem;
  margin-top: 1rem;
}
.card a {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .card {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: 1rem;
      margin-bottom: 3rem;
      align-items: center;
  }
  .card > div span:first-child {
      margin-top: 0;
  }
  .card >div span:last-child {
      margin-bottom: 0.5rem;
  }
  .card p {
      margin-top: 0;
  }
}


/************************************************************
 Pàgines de detall
*************************************************************/
article h2 {
  margin-bottom: 2rem;
}

article blockquote {
  margin: 3rem 0;
  padding: 1.5em;
  background-color: var(--bg-light-color);
  color: var(--dark-color);
}

article blockquote p {
  font-size: 1rem;
}

article blockquote cite {
font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

article blockquote cite::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 0.3rem;
  margin-right: 0.5rem;
  background-color: var(--secondary-contrast-color);
}

article figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

article figure figcaption p {
  font-size: 0.75rem;
}

@media (min-width: 992px) {
  article blockquote {
      margin: 3rem;
      padding: 1.5em;
      background-color: var(--bg-light-color);
      color: var(--dark-color);
  }
  article blockquote p {
      font-size: 1.2rem;
  }
  article figure {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media (min-width: 1200px) {
  article {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*******************************
 Taules
 *******************************/

 thead th {
  background-color: var(--dark-color);
  color: var(--contrast-color);
  text-align: center;
  font-weight: bold;
 }

 .tableFluid {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  font-size: 1.5rem;
  border-top: 1px solid var(--text-color);
}

td, th {
  padding: 0.5rem;
  font-size: 1.1rem;
}

td, th {
  vertical-align: center;
  text-align: left;
}

th[scope="col"] {
  font-weight: normal;
  font-size: 1rem;
  width: 25%;
}

tr {
  border-bottom: 1px solid var(--text-color);
}

thead tr {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-light-color); 
}


/************************************************************
  Enlaces
*************************************************************/
dt {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 700;
}
dt::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: var(--secondary-contrast-color)
}

dd {
  padding-left: 2rem;
}
dd a {
  display: block;
  margin-top: -1rem;
}
@media (min-width: 1200px) {
  dl {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}


